.section-allTags {
    ul.taglist {
        li {
            background-color: #fff;
            border-radius: 5px;
            a {
                color:#5a5a5a;
                font-size: 18px;
            }
        }
    }
}