.section-allTags {
    ul.taglist {
        li {
            background-color: #fff;
            border-radius: 5px;
            padding:0;
            a {
                color:#5a5a5a;
                font-size: 18px;
                padding:5px;
                font-weight:bold;
            }
        }
    }
}