nav.navbar {
    background-color:#000;
    .navbar-brand {
        color:#fff;
        font-size: 23px;
        padding:3px;
        svg {
        color: #c7c6c6;
        margin-left: 10px;
        }
    .navbar-burger {
        color:#fff;
    }
}
#navMenu {
    padding-bottom:0;
    .navbar-item {
        border-bottom: solid gray 1px;
        padding-top: 5px;
        padding-bottom:4px;
    }
}       

}   

//footer

.navbar-item {
    padding:0!important;
}