nav.navbar {
    background-color:#000;
    .navbar-brand {
        color:#fff;
        font-size: 23px;
        padding:3px;
        svg {
        color: #c7c6c6;
        margin-left: 10px;
        }
    .navbar-burger {
        color:#fff;
    }
}       

//footer

.navbar-item {
    padding:0!important;
}