body {
    background-color: rgb(212, 212, 212);
}

h1 {
    background-color: #000;
    opacity:0.8;
} 

.title {
    color: #000;
}

.full-width-image {
    background-attachment: inherit;
}

.column {
    padding:0;
    width:100%;
}

.columns {
    width:100%;
}

article {
    background-color: #fff!important;
}