body {
    background-color: rgb(212, 212, 212);
}

h1 {
    // background-color: #000;
    opacity:0.8;
} 

.title {
    color: rgb(49, 49, 49)!important;
}
a.title {
    color:#5a5a5a!important;
    font-size:20px;
    margin-bottom:5px;
}

.featured-thumbnail {
    margin:5px auto;
}

.full-width-image {
    background-attachment: inherit;
}

.column {
    padding:0;
    width:100%;
}

.columns {
    width:100%;
}

article {
    background-color: #fff!important;
}

.notification {
    width:120%;
}