.tag-section {
    ul.taglist {
        li {
            background-color: #fff;
            a {
                h2 {
                    font-size:1.6rem!important;
                }
            }
        }
    }
    p {
        text-align: center;
        a {
            font-weight:bold;
        }
    }
}